

<h2>View Calendar</h2>
<button id="viewcal"  data-bind="click: viewCalendar">View Calendar</button>
<br>
<h2>Add Event</h2>
<form>

Title:<br>
  <input type="text" id="title" ><br>
  Event Location:<br>
  <input type="text" id="eventlocation"><br>
  Notes:<br>
  <input type="text" id="notes"><br>
 Start Date And Time:<br>
  <input type="datetime-local" id="starttime"><br>
 End Date And Time:<br>
   <input type="datetime-local" id="endtime"><br>
  </form>
  <br>
 <button id="createEvent"  data-bind="click: createEvent">Create Event</button>
 <br>
 <h2> View Events </h2>
 <button id="viewevents"  data-bind="click: viewEvents">View Events</button>